*,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #00b4aa;
  height: 80px;
  align-items: center;
}
.left-header {
  color: white;
  font-weight: 800;
  font-size: 30px;
  margin-left: 50px;
}

header ul {
  list-style: none;
  display: flex;
  font-size: 30px;
}
header ul li {
  margin: 6px;
  display: block;
  cursor: pointer;
}
#home {
  color: white;
  padding-bottom: 5px;
  border-bottom: 3px solid #e8005a;
}
.about {
  color: #e8005a;
}

.login-button,
.signup-button {
  padding: 6px 20px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
}
.signup-button {
  margin-right: 50px;
}

.float-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.left-float,
.middle-float,
.right-float {
  width: 30%;
  height: 300px;
  border: 3px solid #ec2197;
  padding-top: 10px;
}
.para {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.side-kick {
  height: 80px;
  width: 80px;
  border: 3px solid #00b4aa;
  background-color: #9ac5c3;
  margin: 5px auto;
  border-radius: 5px;
  position: relative;
}
.hero {
  height: 80px;
  width: 80px;
  border: 3px solid #ab2b76;
  background-color: #e3b910;
  margin: 0px auto;
  border-radius: 5px;
  position: relative;
}
.float-container .middle-float .hero {
  float: left;
}
.float-container .right-float .hero {
  float: right;
}
.first-letter {
  font-size: 26px;
}
.float-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.float-container-2 .middle-float .hero {
  left: 45px;
  top: 40px;
  z-index: 5;
}
.float-container-2 .right-float .hero {
  float: left;
  margin-left: 30px;
}
.flex-div {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #e8005a;
}
.div-para {
  height: 140px;
  width: 140px;
  border: 4px solid #00b4aa;
  background-color: #6cdcd7;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-right: 10px;
  position: relative;
  font-size: 18px;
}
.div-para > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-div-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-evenly;
  border-bottom: 2px solid #e8005a;
  padding-bottom: 50px;
}

.flex-div-3 {
  display: flex;
  flex-direction: row;
  margin: 50px;
  border-bottom: 2px solid #e8005a;
  padding-bottom: 50px;
}
.flex-div-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}
footer {
  height: 70px;
  background-color: #00b4aa;
  font-size: 30px;
}
footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}
footer ul li {
  padding: 15px 30px;
}
html {
  scroll-behavior: smooth;
}
.arrow-button {
  position: fixed;
  width: 55px;
  height: 45px;
  bottom: 90px;
  right: 0;
  background-color: #e8005a;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  cursor: pointer;
}
.fa-arrow-up {
  background-color: #e8005a;
  color: white;
}
